{% extends "main.html" %}
{% block content %}

	<div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>About this Project</h2>
            <p class="lead">This is the third project as a requirment for the Full Stack Developer Nano degree. It covers below subjects:</p>
			  <ul>
			  <li > CRUD operations</li>
			  <li > JSON end points</li>
			  <li > Third Party login</li>
			</ul>
          </div>
        </div>
      </div>

{% endblock content %}